<form (submit)="login()" [formGroup]="myform">

    <div *ngIf="myform.invalid && submitted">
        <div *ngIf="propEmail.hasError('required')">
            Email obligatoire
        </div>
        <div *ngIf="propEmail.hasError('minlength')">
            Caractères min.
        </div>
        <div *ngIf="propEmail.hasError('domain')">
            {{ propEmail.getError('domain') }} est interdit !
        </div>
    </div>

    <label>Email</label>
    <input type="text" [formControl]="propEmail">

    <label>Mot de passe</label>
    <input type="password" [formControl]="propPass">

    <button>Se connecter</button>
</form>